<!Doctype html>
<html>
<head>
  <%- include ../meta.ejs %>
</head>
<body>
  <%- include ../header.ejs %>
  <div class="container n-about">
    <div class="col-md-3">支付出错</div>
  </div>
  <%- include ../footer.ejs %>
</body>
</html>
