<!Doctype html>
<html>
<head>
  <%- include ../meta.ejs %>
  <link rel="stylesheet" href="/resource/css/pay_error.css"/>
</head>
<body>
  <%- include ../header.ejs %>
  <div class="container n-about n-error">
    <div class="error-wrapper">
      <div class="col">
        <i class="error-icon"></i>
      </div>
      <div class="col">
        <h2>支付失败！</h2>
      </div>
    </div>
  </div>
  <%- include ../footer.ejs %>
</body>
</html>
