<!Doctype html>
<html>
<head>
  <%- include ../meta.ejs %>
</head>
<body>
  <%- include ../header.ejs %>
  <div class="container n-about">
    <div class="alert alert-success" role="alert">恭喜您，您已成功付款，谢谢您的支持！</div>
  </div>
  <%- include ../footer.ejs %>
</body>
</html>
