.comment-list{
    width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    .comment{
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding:15px 0;
        border-bottom: 1px solid #ccc;
        .left-content{
            display: inline-block;
            vertical-align: top;
            width: $user-head-r + 10;
            height: $user-head-r + 10;
        }
        .right-content{
            display: inline-block;
            vertical-align: top;
            width: 810px - $user-head-r - 20px;
            .user-name{
                font-size: 13px;
                margin-bottom: 5px;
            }
            .comment-content p{
                line-height: 1.7;
                padding-bottom: 5px;
            }
            .comment-time{
                color: #666;
                font-size: 12px;
            }
        }
    }
}