
<div id="footer">
    <div class="waper">
        <div class="footerwaper clearfix">
            <div class="followus r">
                <a class="followus-weixin" href="javascript:;" target="_blank" title="微信">
                    <div class="flw-weixin-box"></div>
                </a>
                <a class="followus-weibo" href="http://weibo.com/u/5585851057" target="_blank" title="新浪微博"></a>
                <a href="javascript:void(0);" class="sns-weixin" target="_blank" title="微信" style="display:none;"></a>
            </div>
            <div class="footer_intro l">
                <div class="footer_link">
                    <ul>
                        <li><a href="/about" title="关于我们">关于我们</a></li>
                        <li><a href="/about/joinus" title="人才招聘">加入我们</a></li>
                        <li><a href="mailto:service@nebulafe.com" title="联系我们">联系我们</a></li>
                        <li><a href="http://weibo.com/u/5585851057" title="关注我们" target="_blank">关注我们</a></li>
                    </ul>
                </div>
                <p>© 2015 nebulafe.com 京ICP备15012781号-1</p>
            </div>
        </div>
    </div>
</div>
<!--[if lte IE 8]>
<div id="ie6-warning">
    您正在使用 Internet Explorer 低版本的IE浏览器。为更好的浏览本页，建议您将浏览器升级到
    <a href="http://www.microsoft.com/china/windows/internet-explorer/ie8howto.aspx" target="_blank">IE9</a>
    或以下浏览器：<a href="http://www.firefox.com.cn/download/">Firefox</a>
    / <a href="http://www.google.cn/chrome"> Chrome</a>
    / <a href="http://chrome.360.cn/">360极速浏览器</a>
    / <a href="http://www.apple.com.cn/safari/">Safari</a> / <a href="http://www.Opera.com/">Opera</a></div>
<script type="text/javascript">
    togo = 0;
    function position_fixed(el, eltop, elleft) {
        // check if this is IE6
        if (!window.XMLHttpRequest)
            window.onscroll = function () {
                el.style.top = (document.documentElement.scrollTop + eltop) + "px";
                el.style.left = (document.documentElement.scrollLeft + elleft) + "px";
            }
        else
            el.style.position = "fixed";
    }
    ;
    position_fixed(document.getElementById("ie6-warning"), 0, 0);
</script>
<![endif]-->
<%if(userInfo){%>
<input type="hidden" value="<%=userInfo.username%>" id="ne_user_name">
<input type="hidden" value="<%=userInfo.id%>" id="ne_user_id">
<input type="hidden" value="<%=userInfo.nickname%>" id="ne_user_nickname">
<input type="hidden" value="<%=userInfo.avator%>" id="ne_user_avator">
<%}%>
<script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
<script src="http://libs.baidu.com/underscore/1.3.3/underscore-min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://a.tbcdn.cn/libs/seajs/1.1.0/sea.js"></script>
<script>
    var root = location.protocol + "//" + location.host + "/resource/";
    seajs.config({
        base: root,
        path: {
            'js': root + 'js',
            'css': root + 'css',
            'img': root + 'img',
            'swf': root + 'swf'
        },
        map: [
            [/^(.*\/.*\/.*\.(?:css|js))(?:.*)$/i, '$1?20150726']
        ]
    });
    seajs.use('js/index');
    seajs.use('js/common');
</script>
