@import "../common";
body{
  background-color: $body_bg_color;
}
.course-index {
  .course-nav-wrapper{
    width: 100%;
    padding: 20px;
    @import "course-list/coure-nav-list";
  }
}

#courses{
  width: 100%;
  border: none;
  @import "course-list/course-item";
}