@import "user-setting";
.myorder{
    tbody{
        tr{
            td{
                vertical-align: middle;
            }
        }
    }
    .btn-sm{
        width:60px;
        height: 20px;
        line-height: 20px !important;
    }
}