<header class="nebulafe-header">
    <div class="logo"></div>
    <nav class="nav">
        <div class="item  <% if( title =='首页') {%> active <%}%>">
            <a href="/">首页</a>
        </div>
        <div class="item  <% if( title =='课程') {%> active <%}%>">
            <a href="/course/">课程</a>
        </div>
        <div class="item  <% if( title =='用户中心') {%> active <%}%>">
            <a href="/users">用户中心</a>
        </div>
    </nav>
</header>
<leftnav></leftnav>