<!Doctype html>
<html>
<head>
  <%- include ../meta.ejs %>
</head>
<body>
<%- include ../header.ejs %>
<% if (user) { %>
  <h4>当前登录用户：<%= user.name %></h4>
<% } %>

<%- include ../footer.ejs %>
</body>
</html>